body {
    font-family: 'Convergence', sans-serif !important;
    font-family: 'Noto Sans TC', sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif !important;
    
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Convergence', sans-serif !important;
}


@media (min-width: 992px) {
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #17a2b8 !important;
    }
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #17a2b8 !important;
}

#testimony {
    background-image: url('../img/playa.jpg');
}

.imagen{
    width: 250px;
    height: 200px;
}

.mb-4, .my-4 {
    margin-top: 1.5rem !important;
}

.pb-5, .py-5 {
    padding-bottom: 1rem !important;
}

.page-section {
    padding: 8rem 0;
    padding-top: 8rem;
    padding-right: 0px;
    padding-bottom: 4rem;
    padding-left: 0px;
    background-color: #ebefd0;
}

.logo {

    height: 150px;
    width: 150px;
    
}

#about {

    padding-top: 150px;
    padding-bottom: 300px;

}

hr {
    border-top: 1px solid #000;
    width: 50%;
}

a {
    color: #000;
}

    a:link {
        text-decoration: none;
    }

#contact2 {
    letter-spacing: 3px;
}

#contact {
    background-color: #b4e9e2;
}


.newsletter {
    padding: 80px 0;
    background: #f2f2f2;
}

    .newsletter .content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }

        .newsletter .content h2 {
            color: #243c4f;
            margin-bottom: 40px;
        }

        .newsletter .content .form-control {
            height: 50px;
            border-color: #ffffff;
            border-radius: 0;
        }

            .newsletter .content.form-control:focus {
                box-shadow: none;
                border: 2px solid #243c4f;
            }

        .newsletter .content .btn {
            min-height: 50px;
            border-radius: 0;
            background: #243c4f;
            color: #fff;
            font-weight: 600;
        }


