Pagina/App_Data/*
Pagina/node_modules/*
Pagina/vendor/*
Pagina/.travis.yml
Pagina/gulpfile.js
Pagina/LICENSE
Pagina/package.json
Pagina/package-lock.json
Pagina/Web.config
Pagina/Web.Debug.config
Pagina/website.publishproj
Travelround/hooks/*
Travelround/platforms/*
Travelround/plugins/*
Travelround/config.xml
Travelround/www/components/*
Travelround/www/Web.config
Travelround/www/Web.Debug.config

