.page {
    background-image: url('../img/piedra.jpg');
    background-size: cover;
}

#crearEntrada{
    width: 150px;
}

#verEntrada {
    width: 150px;
}

#colLogo {
    text-align: center;
}

.center-all {
    padding-top: 250px;
}

#logout {
    width: 150px;
}

.rowlogout {
    display: flex !important;
    justify-content: center !important;
}
