.page {
    background-image: url('../img/Fondo1.jpg');
    background-size: cover;
}
#login {
    width: 150px;
}
#signup {
    width: 150px;
}
#colLogo {

    text-align:center;

}
.center-all {
   padding-top:250px;
}
